{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended", // Use recommended TS rules
    "plugin:react/recommended", // Base React rules
    "plugin:react/jsx-runtime", // Rules for the new JSX transform
    "prettier" // Add prettier last to override formatting rules
  ]
}
